{"filter":false,"title":".gitignore","tooltip":"/cms/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":1,"column":0},"end":{"row":1,"column":1},"action":"insert","lines":["#"],"id":4}],[{"start":{"row":8,"column":15},"end":{"row":8,"column":24},"action":"insert","lines":["git add ."],"id":5}],[{"start":{"row":1,"column":1},"end":{"row":1,"column":2},"action":"insert","lines":[" "],"id":7}]]},"ace":{"folds":[],"scrolltop":6,"scrollleft":0,"selection":{"start":{"row":10,"column":14},"end":{"row":11,"column":14},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1696255321837,"hash":"b0a07ffebce5e8b77a3670d5ec20fe1e1ed7a5a7"}